<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900793236744-tj5q3bdj2jcnbm541kgv5me4opfbm88t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900793236744-tj5q3bdj2jcnbm541kgv5me4opfbm88t</string>
	<key>API_KEY</key>
	<string>AIzaSyBc52tUWEDixNUepZy_KNoWtG8qoS6HVhc</string>
	<key>GCM_SENDER_ID</key>
	<string>900793236744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HazeWritesCode.Practice.TripPlannerProject</string>
	<key>PROJECT_ID</key>
	<string>tripplanner-9447a</string>
	<key>STORAGE_BUCKET</key>
	<string>tripplanner-9447a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900793236744:ios:6e92f4e515593c37</string>
	<key>DATABASE_URL</key>
	<string>https://tripplanner-9447a.firebaseio.com</string>
</dict>
</plist>